<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.ConnectionString" connectionString="Data Source=orcl;User ID=scott;Password=tiger;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    
    </startup>
</configuration>
